.aside-item {
  padding-bottom: 0.6em;
}
.aside-item img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 0.5em;
}
p :hover {
  text-decoration: white;
}

h1 {
  margin-bottom: 0.5em;
}
